secret/**
Workflow for Distributed Data Sharing/thesis.aux
Workflow for Distributed Data Sharing/thesis.fdb_latexmk
Workflow for Distributed Data Sharing/thesis.fls
Workflow for Distributed Data Sharing/thesis.log
Workflow for Distributed Data Sharing/thesis.pdf
Workflow for Distributed Data Sharing/thesis.synctex.gz
Workflow for Distributed Data Sharing/thesis.toc
Workflow for Distributed Data Sharing/thesis.xdv